In [1]:
# importing the lib
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import pandas as pd
import numpy
import time
import sys
from selenium.webdriver.chrome.service import service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import re
import numpy as np

In [38]:
# Opening chrome and opening the site

url="https://www.ca.kayak.com/flights/YYZ-AMD/2022-05-30?sort=bestflight_a"


driver = webdriver.Chrome(ChromeDriverManager().install())
driver.maximize_window()
driver.get(url)
time.sleep(25)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Driver [C:\Users\Haet\.wdm\drivers\chromedriver\win32\99.0.4844.51\chromedriver.exe] found in cache
<ipython-input-38-2620ec44e1ce>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [39]:
def click_more():
    
    for val in range(0,50):
        try:
            driver.find_element_by_xpath("//a[@class='moreButton']").click()
            time.sleep(5)
            val = val +1

        except:
            pass

In [40]:
click_more()

<ipython-input-39-088966e7e9cf>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//a[@class='moreButton']").click()

In [50]:
# depart-time base-time
departure_time=[]
departure_time= driver.find_elements_by_xpath("//span[@class='depart-time base-time']")

arrival_time=[]
arrival_time= driver.find_elements_by_xpath("//span[@class='arrival-time base-time']")

duration =[]
duration  = driver.find_elements_by_xpath("//div[@class='section duration allow-multi-modal-icons']//div[@class='top']")

no_stop = []
no_stop  = driver.find_elements_by_class_name("stops-text")

price =[]
price = driver.find_elements_by_xpath("//div[@class = 'booking']")

airlines = []
airlines = driver.find_elements_by_xpath("//span[@class = 'codeshares-airline-names']")

# departure_time = driver.find_elements_by_xpath("//div[@class='itinerary-depart-time depart-time']")

price_list=[]
for i in range(len(departure_time)):
        departure_time[i]= departure_time[i].get_attribute('innerHTML')
        arrival_time[i] = arrival_time[i].get_attribute('innerHTML')
        duration[i] = duration[i].get_attribute('innerHTML')
        no_stop[i] = no_stop[i].get_attribute('innerHTML')
        price[i] = price[i].get_attribute('innerHTML')
        airlines[i] = airlines[i].get_attribute('innerHTML')
        b = re.findall("nbsp\;((\d\d\d)|(\d.\d\d\d)|(\d\d.\d\d\d))",price[i])[0][0]
#         b = b[0][0]
        price_list.append(b)

<ipython-input-50-cea6b58c975d>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  departure_time= driver.find_elements_by_xpath("//span[@class='depart-time base-time']")
<ipython-input-50-cea6b58c975d>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  arrival_time= driver.find_elements_by_xpath("//span[@class='arrival-time base-time']")
<ipython-input-50-cea6b58c975d>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  duration  = driver.find_elements_by_xpath("//div[@class='section duration allow-multi-modal-icons']//div[@class='top']")
<ipython-input-50-cea6b58c975d>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  no_stop  = driver.find_elements_by_class_name("stops-text")
<ipython-input-50-cea6b58c975d>:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver.find_elements_by_xpath("//div[@class = 'booking']")
<ipython-input-50-cea6b58c975d>:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  airlines = driver.find_elements_by_xpath("//span[@class = 'codeshares-airline-names']")

In [51]:
# price_list=[]
# for i in range(len(price)):
#     b = re.findall("nbsp\;((\d\d\d)|(\d.\d\d\d)|(\d\d.\d\d\d))",price[i])
#     b = b[0][0]
#     price_list.append(b)

In [58]:
airlines[1]

'Air Transat, Vistara'

In [52]:
# Creating data frames
departure = len(departure_time)*["YYZ"]
arrival = len(departure_time)*["AMD"]
# a = pd.DataFrame(departure_time,arrival_time,price_list)

In [55]:
df  = pd.DataFrame(departure,columns=["Source"])
df["Destination"] = arrival
df["Departure_time"] = departure_time
df["Arrival_time"] = arrival_time
df["Stops"] = no_stop
df["CAD $"]= price_list
df["Airlines"] = airlines

In [64]:
max(no_stop)

'\n3 stops '

In [65]:
df

,Source,Destination,Departure_time,Arrival_time,Stops,CAD $,Airlines
0,YYZ,AMD,12:15 p.m.,9:40 p.m.,\n1 stop,"1,121",Air India
1,YYZ,AMD,10:45 p.m.,8:05 p.m.,\n2 stops,"1,063","Air Transat, Vistara"
2,YYZ,AMD,2:30 p.m.,3:05 a.m.,\n1 stop,"1,139",Emirates
3,YYZ,AMD,6:35 p.m.,4:25 a.m.,\n2 stops,"1,385","Air Canada, Etihad Airways"
4,YYZ,AMD,9:40 p.m.,4:25 a.m.,\n1 stop,"1,604",Etihad Airways
...,...,...,...,...,...,...,...
59,YYZ,AMD,6:20 p.m.,3:05 a.m.,\n2 stops,"8,364",Multiple Airlines
60,YYZ,AMD,6:45 p.m.,3:05 a.m.,\n2 stops,"8,750","Air Canada, Emirates"
61,YYZ,AMD,11:50 p.m.,8:00 p.m.,\n2 stops,"9,699","Lufthansa, Air India"
62,YYZ,AMD,11:50 p.m.,8:00 p.m.,\n2 stops,"9,699","Lufthansa, Air India"
63,YYZ,AMD,6:50 p.m.,4:25 a.m.,\n2 stops,"20,200","Air Canada, Etihad Airways"